name: Pull Request
on:
  pull_request:
    types: [opened, synchronize, edited]
    paths-ignore:
      - README.md
      - LICENSE
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-node@v2
      with:
        node-version: '19.x'
        cache: npm
    - run: npm install
    - run: npm test